h2 {color: #ff0000; font-size: 40px; }
gy {color: #4d4d4d; background: #808080; font-size: 30px; }
gn {color: #052602; background: #118707; font-size: 30px; }
y {color: #666600; background: #ffff00; font-size: 30px; }
r {color: #660000; background: #ff0000; font-size: 30px; }
